
body{
    background-color:peachpuff;
    text-align: center;
    color: red;
    
}
.box {
    
    width: 1100px;
    height: 300px;
    margin: 30px;
    padding: 80px;
    border: 5px solid rgb(14, 247, 6);
    line-height: 15%
    
  }

.text{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    color: black;
    line-height: 120%
}
ul .lista1{
    text-align:left;
    text-decoration: underline;
    color: black;
    line-height: 200%
    
}
.box2 {
    
    width: 1100px;
    height: 130px;
    margin: 30px;
    padding: 80px;
    border: 5px solid rgb(14, 247, 6);
    line-height: 15%
    
  }
  
  .box3 {
    
    width: 1058px;
    height: 130px;
    margin: 30px;
    padding: 100px;
    border: 1px;
    line-height: 15%
    
  }
  .text2{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    color:black;
    line-height: 120%
    
}

.box3 {
    
    width: 1058px;
    height: 130px;
    margin: 30px;
    padding: 100px;
    border: 1px;
    line-height: 15%
    
  }
  .text3{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    color:black;
    line-height: 120%
    
}

ul .lista2{
    text-align:left;
    color: black;
    line-height: 200%
    
}